// /**--------- FONT FAMILY --------*/
@mixin  font-face($font) {
  font-family: $font;
}

// Example of usage
//  h1{
//   @include font-face('Roboto', sans-serif;);
// }


// /**--------- START OF MEDIA QUERY --------*/
@mixin breakpoint-min($bp, $rule: min-width) {
  @media only screen and (#{$rule}: map-get($breakpoints, $bp)) {
    @content;
  }
}

@mixin breakpoint-max($bp, $rule: max-width) {
  @media only screen and (#{$rule}: map-get($breakpoints, $bp) - 1) {
    @content;
  }
}
//Example of usage
// h1{
//   @include breakpoint-min(sm){
//     color: #000;
//   }
// }


// /**--------- START OF PLACEHOLDER TEXT COLOR --------*/
@mixin  input-placeholder {
    &.placeholder {
      @content;
    }
    &:-moz-placeholder {
      @content;
    }
    &::-moz-placeholder {
      @content;
    }
    &:-ms-input-placeholder {
      @content;
    }
    &::-webkit-input-placeholder {
      @content;
    }
  }

//   Example of usage
// input{
//     @include input-placeholder{
//         color: #000;
//     }
// }


//--------- START OF ABSOLUTE POSITIONING --------//(related mixins-backgruound holder)
@mixin  pos-abs($top, $right, $bottom, $left) {
  position: absolute !important;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;  

}


// Example of usage
// .class-name{
//  @include pos-abs(100px, auto, 50px, auto);
//}

// Compiled css
// .class-name{
//   position: absolute;
//   top: 100px;
//   right: auto;
//   bottom: 50px;
//   left: auto;
// }